/*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
*/
body{
	font-family: 'Arial black';
	background-color: white;
	color: black;
}
.aboutUsContainer{
	max-width: 1200px;
    margin:  auto;
    padding: 20px;
    background-color:white;
}
.OurMission{
	max-width: 1200px;
    margin:  auto;
    padding: 20px;
    background-color:light;
	font-family: Arial;
}.ourHistory{
	max-width: 1200px;
    margin:  auto;
    padding: 20px;
    background-color:white;
	font-family: Arial;
}
.ourTeam{
	display: flex;
	justify-content: center;
	gap: 50px;
	font-family: Arial;
}
.member-photo {
	width: 100%;
	height: 100px;
	background-color: #f0f0f0;
	border-radius: 10px;
}
.member-name {
	font-weight: bold;
	margin: 10px 0 5px;
}
.member-role {
	color: #555;
	font-size: 14px;
}
.teamContainer{
	max-width: 1200px;
    margin:  auto;
    padding: 20px;
    background-color:white;
	font-family: Arial;
}